<!doctype html>
<html>
<head>
    <title>Добавить заметку</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Новая заметка</h1>
    <form method="post">
        <input name="title" placeholder="Заголовок" required><br>
        <textarea name="content" placeholder="Содержание Markdown" rows="10" cols="50"></textarea><br>
        <button type="submit">Создать</button>
    </form>
    <a href="{{ url_for('index') }}">Назад</a>
</body>
</html>
